In [17]:
import os
import pandas as pd
from datetime import datetime

In [18]:
data_path = os.path.join(os.getcwd(),"..","data")

In [19]:
all_results = pd.read_csv(os.path.join(data_path,"results.csv"))

In [20]:
all_results["date"] = pd.to_datetime(all_results["date"])
results_df = all_results[all_results["date"]>datetime(2018,6,14)]
len(results_df)

3826

Only include rows for teams in the WC

In [21]:
teams_df = pd.read_csv(os.path.join(data_path,"teams.csv"))

In [22]:
teams = list(teams_df.Team.values)

In [23]:
res_df = results_df[(results_df.home_team.isin(teams)) | (results_df.away_team.isin(teams))]

In [24]:
len(res_df)

1348

In [25]:
for t in teams:
    print(t, len(res_df[res_df.home_team==t]), len(res_df[res_df.away_team==t]))

Qatar 37 26
Ecuador 22 27
Senegal 31 20
Netherlands 28 20
England 34 24
Iran 22 19
USA 45 17
Wales 27 22
Argentina 33 20
Saudi Arabia 29 20
Mexico 41 29
Poland 28 22
France 32 24
Australia 18 17
Denmark 28 26
Tunisia 28 27
Spain 27 27
Costa Rica 24 32
Germany 31 20
Japan 39 18
Belgium 30 26
Canada 21 23
Morocco 35 13
Croatia 28 27
Brazil 39 16
Serbia 23 26
Switzerland 27 26
Cameroon 22 17
Portugal 28 24
Ghana 17 19
Uruguay 21 28
South Korea 38 14

In [30]:
other_teams = []
for team_list in [res_df.home_team.values,res_df.away_team.values]:
    for t in team_list:
        if t not in teams:
            other_teams.append(t)
other_teams = list(set(other_teams))
other_teams

['Burundi',
 'Luxembourg',
 'Cape Verde',
 'Venezuela',
 'Latvia',
 'Dominica',
 'Mali',
 'Madagascar',
 'Sudan',
 'Bosnia and Herzegovina',
 'Moldova',
 'São Tomé and Príncipe',
 'Azerbaijan',
 'Bermuda',
 'Botswana',
 'Panama',
 'Turkmenistan',
 'Slovakia',
 'South Africa',
 'Nigeria',
 'Zimbabwe',
 'Singapore',
 'Ivory Coast',
 'Malawi',
 'USA Virgin Islands',
 'Vietnam',
 'North Macedonia',
 'Cayman Islands',
 'Suriname',
 'Liberia',
 'Ukraine',
 'Haiti',
 'Uganda',
 'Finland',
 'Rwanda',
 'Benin',
 'Congo',
 'Kyrgyzstan',
 'Niger',
 'Bahrain',
 'Colombia',
 'Lebanon',
 'Kenya',
 'Mauritania',
 'DR Congo',
 'Ethiopia',
 'Northern Ireland',
 'Philippines',
 'Kazakhstan',
 'Georgia',
 'United Arab Emirates',
 'Italy',
 'Central African Republic',
 'China PR',
 'Cyprus',
 'Iceland',
 'Turkey',
 'Peru',
 'Czech Republic',
 'Saint Kitts and Nevis',
 'Kosovo',
 'Guinea',
 'Liechtenstein',
 'Bolivia',
 'Mozambique',
 'Eswatini',
 'Namibia',
 'Hungary',
 'Romania',
 'Cambodia',
 'Guinea-Bissau',
 'Guatemala',
 'North Korea',
 'Grenada',
 'Faroe Islands',
 'Sri Lanka',
 'Tanzania',
 'Guyana',
 'Mongolia',
 'Kuwait',
 'Yemen',
 'Taiwan',
 'San Marino',
 'Afghanistan',
 'Cuba',
 'Burkina Faso',
 'Egypt',
 'Oman',
 'Belarus',
 'Iraq',
 'Zambia',
 'Norway',
 'Nepal',
 'Gibraltar',
 'Bulgaria',
 'Slovenia',
 'Algeria',
 'Curaçao',
 'Austria',
 'Basque Country',
 'Paraguay',
 'Israel',
 'Sweden',
 'Russia',
 'Myanmar',
 'Jamaica',
 'New Zealand',
 'Libya',
 'Honduras',
 'Armenia',
 'Syria',
 'Greece',
 'French Guiana',
 'South Sudan',
 'Uzbekistan',
 'Estonia',
 'Scotland',
 'Jordan',
 'Dominican Republic',
 'Bangladesh',
 'Palestine',
 'Tajikistan',
 'Republic of Ireland',
 'Gambia',
 'Andorra',
 'Barbados',
 'Lithuania',
 'India',
 'Montenegro',
 'Gabon',
 'Nicaragua',
 'Martinique',
 'Guadeloupe',
 'Comoros',
 'Chile',
 'Togo',
 'Angola',
 'Trinidad and Tobago',
 'El Salvador',
 'Hong Kong',
 'Equatorial Guinea',
 'Aruba',
 'Albania',
 'Malta']