In [1]:
import wcpredictor
import pandas as pd

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import bpl
import wcpredictor

# training data date range
start_date = "2022-1-1"
end_date = "2022-12-31"

wc_teams = wcpredictor.get_teams_data(year="2022")

wc_pred = wcpredictor.get_and_train_model(
    start_date=start_date,
    end_date=end_date,
    model=bpl.NeutralDixonColesMatchPredictorWC(),
    rankings_source="game",
)
dict(
    zip(
        wc_pred.model.conferences,
        wc_pred.model.confederation_strength.mean(axis=0).tolist(),
    )
)

Using FIFA videogame rankings
Using 856 rows in training data
Using FIFA videogame rankings
[MODEL FITTING] Setting training data for the model
[MODEL FITTING] Fitting the model

sample: 100%|███████████████████████████████████████████████| 1500/1500 [00:28<00:00, 51.82it/s, 255 steps of size 2.51e-02. acc. prob=0.89]

{'AFC': -0.11209800839424133,
 'CAF': -0.01766471564769745,
 'CONCACAF': -0.123991459608078,
 'CONMEBOL': 0.01173726748675108,
 'OFC': -0.5503221154212952,
 'UEFA': 0.00692346878349781,
 'Unaffiliated': 0.4442307949066162}

In [3]:
test = wcpredictor.Tournament(year = "2022", partial_predict = True)

Using FIFA organisation rankings

In [4]:
test.play_group_stage(wc_pred)

Group
1.00022292137146

Notice England 6-2 Iran and USA 1-1 Wales are here

In [5]:
test.groups["B"].results

{'home_team': array(['England', 'Wales', 'Iran', 'Wales', 'England', 'USA'],
       dtype=object),
 'away_team': array(['USA', 'Iran', 'USA', 'England', 'Iran', 'Wales'], dtype=object),
 'home_score': array([[1],
        [3],
        [2],
        [2],
        [6],
        [1]], dtype=uint8),
 'away_score': array([[3],
        [1],
        [1],
        [1],
        [2],
        [1]], dtype=uint8)}

Notice Brazil 2-0 Serbia and Switzerland 1-0 Cameroon are here

In [5]:
test.groups["G"].results

{'home_team': array(['Brazil', 'Cameroon', 'Cameroon', 'Serbia', 'Brazil',
        'Switzerland'], dtype=object),
 'away_team': array(['Switzerland', 'Serbia', 'Brazil', 'Switzerland', 'Serbia',
        'Cameroon'], dtype=object),
 'home_score': array([[1],
        [0],
        [0],
        [2],
        [2],
        [1]], dtype=uint8),
 'away_score': array([[3],
        [2],
        [1],
        [2],
        [0],
        [0]], dtype=uint8)}

Notice Argentina 1-2 Saudi Arabia and Mexico 0-0 Poland are here.

In [11]:
test.groups["C"].results

{'home_team': array(['Argentina', 'Poland', 'Saudi Arabia', 'Poland', 'Argentina',
        'Mexico'], dtype=object),
 'away_team': array(['Mexico', 'Saudi Arabia', 'Mexico', 'Argentina', 'Saudi Arabia',
        'Poland'], dtype=object),
 'home_score': array([[3],
        [2],
        [0],
        [0],
        [1],
        [0]], dtype=uint8),
 'away_score': array([[3],
        [2],
        [1],
        [0],
        [2],
        [0]], dtype=uint8)}

We can see how the fixtures_df which give the fixtures to simulate do not include the played games from the first round

In [12]:
test.fixtures_df

              Team_1            Team_2        Date  Stage
16           England               USA  2022-11-25  Group
17       Netherlands           Ecuador  2022-11-25  Group
18             Qatar           Senegal  2022-11-25  Group
19             Wales              Iran  2022-11-25  Group
20         Argentina            Mexico  2022-11-26  Group
21            France           Denmark  2022-11-26  Group
22            Poland      Saudi Arabia  2022-11-26  Group
23           Tunisia         Australia  2022-11-26  Group
24             Spain           Germany  2022-11-27  Group
25           Croatia            Canada  2022-11-27  Group
26           Belgium           Morocco  2022-11-27  Group
27             Japan        Costa Rica  2022-11-27  Group
28          Portugal           Uruguay  2022-11-28  Group
29            Brazil       Switzerland  2022-11-28  Group
30       South Korea             Ghana  2022-11-28  Group
31          Cameroon            Serbia  2022-11-28  Group
32             Qatar       Netherlands  2022-11-29  Group
33           Ecuador           Senegal  2022-11-29  Group
34              Iran               USA  2022-11-29  Group
35             Wales           England  2022-11-29  Group
36      Saudi Arabia            Mexico  2022-11-30  Group
37            Poland         Argentina  2022-11-30  Group
38           Tunisia            France  2022-11-30  Group
39         Australia           Denmark  2022-11-30  Group
40        Costa Rica           Germany  2022-12-01  Group
41             Japan             Spain  2022-12-01  Group
42            Canada           Morocco  2022-12-01  Group
43           Croatia           Belgium  2022-12-01  Group
44          Cameroon            Brazil  2022-12-02  Group
45            Serbia       Switzerland  2022-12-02  Group
46       South Korea          Portugal  2022-12-02  Group
47             Ghana           Uruguay  2022-12-02  Group
48                1A                2B  2022-12-03    R16
49                1C                2D  2022-12-03    R16
50                1B                2A  2022-12-04    R16
51                1D                2C  2022-12-04    R16
52                1G                2H  2022-12-05    R16
53                1E                2F  2022-12-05    R16
54                1H                2G  2022-12-06    R16
55                1F                2E  2022-12-06    R16
56              1A2B              1C2D  2022-12-09     QF
57              1G2H              1E2F  2022-12-09     QF
58              1B2A              1D2C  2022-12-10     QF
59              1H2G              1F2E  2022-12-10     QF
60          1A2B1C2D          1G2H1E2F  2022-12-13     SF
61          1B2A1D2C          1H2G1F2E  2022-12-14     SF
62  1A2B1C2D1G2H1E2F  1B2A1D2C1H2G1F2E  2022-12-19      F

Re-starting this, we see they exist until we call `.get_played_fixtures()`

In [13]:
test = wcpredictor.Tournament(year = "2022", partial_predict = True)

Using FIFA organisation rankings

In [14]:
test.fixtures_df

              Team_1            Team_2        Date  Stage
0              Qatar           Ecuador  2022-11-20  Group
1            England              Iran  2022-11-21  Group
2            Senegal       Netherlands  2022-11-21  Group
3                USA             Wales  2022-11-21  Group
4          Argentina      Saudi Arabia  2022-11-22  Group
..               ...               ...         ...    ...
58              1B2A              1D2C  2022-12-10     QF
59              1H2G              1F2E  2022-12-10     QF
60          1A2B1C2D          1G2H1E2F  2022-12-13     SF
61          1B2A1D2C          1H2G1F2E  2022-12-14     SF
62  1A2B1C2D1G2H1E2F  1B2A1D2C1H2G1F2E  2022-12-19      F

[63 rows x 4 columns]

In [15]:
test.get_played_fixtures()

         Team_1        Team_2  Team_1_score  Team_2_score
0         Qatar       Ecuador             0             2
1       England          Iran             6             2
2       Senegal   Netherlands             0             2
3           USA         Wales             1             1
4     Argentina  Saudi Arabia             1             2
5        Mexico        Poland             0             0
6       Denmark       Tunisia             0             0
7        France     Australia             4             1
8       Morocco       Croatia             0             0
9       Germany         Japan             1             2
10        Spain    Costa Rica             7             0
11      Belgium        Canada             1             0
12       Brazil        Serbia             2             0
13     Portugal         Ghana             3             2
14      Uruguay   South Korea             0             0
15  Switzerland      Cameroon             1             0

We can see the results already from this world cup

In [16]:
test.results_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,time_diff,game_weight
0,2022-11-20,Qatar,Ecuador,0,2,FIFA World Cup,Al Khor,Qatar,False,0.112329,1.0
1,2022-11-21,Senegal,Netherlands,0,2,FIFA World Cup,Doha,Qatar,True,0.109589,1.0
2,2022-11-21,England,Iran,6,2,FIFA World Cup,Al Rayyan,Qatar,True,0.109589,1.0
3,2022-11-21,USA,Wales,1,1,FIFA World Cup,Al Rayyan,Qatar,True,0.109589,1.0
4,2022-11-22,Argentina,Saudi Arabia,1,2,FIFA World Cup,Lusail,Qatar,True,0.106849,1.0
5,2022-11-22,Mexico,Poland,0,0,FIFA World Cup,Doha,Qatar,True,0.106849,1.0
6,2022-11-22,Denmark,Tunisia,0,0,FIFA World Cup,Al Rayyan,Qatar,True,0.106849,1.0
7,2022-11-22,France,Australia,4,1,FIFA World Cup,Al Wakrah,Qatar,True,0.106849,1.0
8,2022-11-23,Germany,Japan,1,2,FIFA World Cup,Al Rayyan,Qatar,True,0.104110,1.0
9,2022-11-23,Spain,Costa Rica,7,0,FIFA World Cup,Doha,Qatar,True,0.104110,1.0
10,2022-11-23,Morocco,Croatia,0,0,FIFA World Cup,Al Khor,Qatar,True,0.104110,1.0
11,2022-11-23,Belgium,Canada,1,0,FIFA World Cup,Al Rayyan,Qatar,True,0.104110,1.0
12,2022-11-24,Switzerland,Cameroon,1,0,FIFA World Cup,Al Wakrah,Qatar,True,0.101370,1.0
13,2022-11-24,Brazil,Serbia,2,0,FIFA World Cup,Lusail,Qatar,True,0.101370,1.0
14,2022-11-24,Uruguay,South Korea,0,0,FIFA World Cup,Al Rayyan,Qatar,True,0.101370,1.0
15,2022-11-24,Portugal,Ghana,3,2,FIFA World Cup,Doha,Qatar,True,0.101370,1.0